---
import { Image } from "astro:assets";
import imagen1 from "@/assets/images/HOME/dama/vestidos/NUESTRO-CATALOGO-1.webp";
import imagen2 from "@/assets/images/HOME/dama/vestidos/NUESTRO-CATALOGO-2.webp";
import imagen3 from "@/assets/images/HOME/dama/vestidos/NUESTRO-CATALOGO-3.webp";
import imagen4 from "@/assets/images/HOME/dama/vestidos/NUESTRO-CATALOGO-4.webp";
import Arrow from "@/assets/svgs/Arrow.astro";
const { language } = Astro.props;

const english = {
    titulo: "SEE OUR CATALOG",
    boton: "SEE CATALOG",
};

const espanol = {
    titulo: "CONOCE NUESTRO CATALOGO",
    boton: "VER CATALOGO",
};
---

<div class="container mx-auto">
    <div class="w-full min-h-[100vh] h-auto flex flex-col items-center py-10">
        <h1
            class="meditative text-[#005141] leading-[70px] md:leading-[115px] beb-regular text-center text-[72px] md:text-[115px] mb-10"
        >
            {language === "es" ? espanol.titulo : english.titulo}
        </h1>
        <div
            class="flex flex-col items-center md:flex-row gap-5 md:gap-10 mb-8 w-full justify-center pb-5 pt-5"
        >
            <span>
                <Image
                    class="w-full inline-block xl:max-w-[350px]"
                    src={imagen1}
                    alt="Imagen 1"
                />
            </span>
            <span>
                <Image
                    class="w-full inline-block xl:max-w-[350px]"
                    src={imagen2}
                    alt="Imagen 2"
                />
            </span>
            <span>
                <Image
                    class="w-full inline-block xl:max-w-[350px]"
                    src={imagen3}
                    alt="Imagen 2"
                />
            </span>
            <span>
                <Image
                    class="w-full inline-block xl:max-w-[350px]"
                    src={imagen4}
                    alt="Imagen 4"
                />
            </span>
        </div>
        <a
            href={`/${language}/catalogo`}
            class="flex items-center btn-catalogo wonderland text-[#005141] border border-[#005141] py-3 px-10 rounded-[5px] hover:bg-[#005141] hover:text-white transition-colors text-[25px] md:text-[40px] gap-2"
        >
            <span>{language === "es" ? espanol.boton : english.boton}</span>
            <span class="hidden md:flex">
                <Arrow width="60px" height="60px" color="#005141" />
            </span>
            <span class="flex md:hidden">
                <Arrow width="30px" height="30px" color="#005141" />
            </span>
        </a>
    </div>
</div>
