---
import { Image } from "astro:assets";
import lealtad from "@/assets/images/respeto.svg";
---

<div class="relative w-full h-[600px] bg-gray-100 p-10 flex flex-col items-center">
    <h2 class="text-4xl mb-12" style="font-family: 'Bebas Neue', sans-serif;">NUESTROS VALORES EMPRESARIALES</h2>

    <div class="flex justify-center w-full max-w-6xl overflow-x-auto">
        <div class="flex gap-10">
            <div class="flex flex-col items-center border border-gray-300 p-10 rounded-md">
                <Image src={lealtad} alt="Imagen 1" class="object-cover w-[150px] h-[150px]" />
                <p class="mt-4 text-gray-700 text-center">Texto 1</p>
            </div>

            <div class="flex flex-col items-center border border-gray-300 p-10 rounded-md">
                <Image src={lealtad} alt="Imagen 2" class="object-cover w-[150px] h-[150px]" />
                <p class="mt-4 text-gray-700 text-center">Texto 2</p>
            </div>

            <div class="flex flex-col items-center border border-gray-300 p-10 rounded-md">
                <Image src={lealtad} alt="Imagen 3" class="object-cover w-[150px] h-[150px]" />
                <p class="mt-4 text-gray-700 text-center">Texto 3</p>
            </div>

            <div class="flex flex-col items-center border border-gray-300 p-10 rounded-md">
                <Image src={lealtad} alt="Imagen 4" class="object-cover w-[150px] h-[150px]" />
                <p class="mt-4 text-gray-700 text-center">Texto 4</p>
            </div>

            <div class="flex flex-col items-center border border-gray-300 p-10 rounded-md">
                <Image src={lealtad} alt="Imagen 5" class="object-cover w-[150px] h-[150px]" />
                <p class="mt-4 text-gray-700 text-center">Texto 5</p>
            </div>
        </div>
    </div>
</div>
