---
import MenuPrincipal from "@/components/layout/menu/MenuPrincipal.astro";
import Footer from "./footer/footer.astro";
import "@/assets/fonts/fonts.css";
import "./global.css";
import FooterInstagram from "@/components/layout/footer/footer_images.astro";

import icon from "@/assets/images/icon.png";

const { title, language } = Astro.props;
---

<html lang={language}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Favicon -->
        <link rel="icon" href={icon.src} type="image/x-icon" />

        <!-- Icono para dispositivos móviles o pantallas de alta resolución -->
        <link rel="apple-touch-icon" sizes="180x180" href={icon.src} />
        <link rel="icon" type="image/png" sizes="32x32" href={icon.src} />
        <link rel="icon" type="image/png" sizes="16x16" href={icon.src} />
        <title>Garana | {title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="">
        <MenuPrincipal language={language} />
        <slot />
        <FooterInstagram language={language} />
        <Footer language={language} />
    </body>
</html>
