---
const { clase, language } = Astro.props;

const english = {
    nosotros: "ABOUT US",
    productos: "PRODUCTS",
    damas: "LADIES",
    ninas: "GIRLS",
};

const espanol = {
    nosotros: "NOSOTROS",
    productos: "PRODUCTOS",
    damas: "DAMAS",
    ninas: "NIÑAS",
};
---

<ul
    class={`${clase} text-white flex-col  p-5 md:flex-row w-full md:w-auto md:mr-[80px]`}
>
    <li class="flex">
        <a
            class="text-center relative inline-block w-full text-[36px] pr-0 md:pr-10 mr-0 md:mr-10"
            style="font-family: bebas_neueregular; letter-spacing : 1.1px;"
            href={`/${language}/nosotros`}
            >{language === "es" ? espanol.nosotros : english.nosotros}</a
        >
    </li>
    <li class="flex">
        <a
            class="text-center relative inline-block w-full text-[36px] pr-0 md:pr-10 mr-0 md:mr-10"
            style="font-family: bebas_neueregular;letter-spacing : 1.1px;"
            href={`/${language}/catalogo`}
            >{language === "es" ? espanol.productos : english.productos}</a
        >
    </li>
    <li class="flex">
        <a
            class="text-center relative inline-block w-full text-[36px] pr-0 md:pr-10 mr-0 md:mr-10"
            style="font-family: bebas_neueregular;letter-spacing : 1.1px;"
            href={`/${language}/catalogo/damas`}
            >{language === "es" ? espanol.damas : english.damas}</a
        >
    </li>
    <li class="flex">
        <a
            class="text-center w-full text-[36px]"
            style="font-family: bebas_neueregular;letter-spacing : 1.1px;"
            href={`/${language}/catalogo/ninas`}
            >{language === "es" ? espanol.ninas : english.ninas}</a
        >
    </li>
</ul>
