---
const { clase, language } = Astro.props;

const english = {
    inicio: "HOME",
    nosotros: "ABOUT US",
    productos: "PRODUCTS",
    damas: "LADIES",
    ninas: "GIRLS",
};

const espanol = {
    inicio: "INICIO",
    nosotros: "NOSOTROS",
    productos: "PRODUCTOS",
    damas: "DAMAS",
    ninas: "NIÑAS",
};
---

<ul
    class={`${clase} menu-component text-white flex-col p-5 md:flex-row w-full md:w-auto md:mr-[80px] gap-4 md:gap-0`}
>
    <li class="flex md:h-8 items-center">
        <a
            class="text-center hover:text-[#444444] rounded-full relative inline-block w-full text-[36px] px-0 md:px-5 mx-0 md:mx-2"
            style="font-family: bebas_neueregular; letter-spacing : 1.1px;"
            href={`/${language}`}
            >{language === "es" ? espanol.inicio : english.inicio}</a
        >
    </li>
    <li class="flex md:h-8 items-center">
        <a
            class="text-center hover:text-[#444444] rounded-full relative inline-block w-full text-[36px] px-0 md:px-5 mx-0 md:mx-2"
            style="font-family: bebas_neueregular; letter-spacing : 1.1px;"
            href={`/${language}/nosotros`}
            >{language === "es" ? espanol.nosotros : english.nosotros}</a
        >
    </li>
    <li class="flex md:h-8 items-center">
        <a
            class="text-center hover:text-[#444444] rounded-full relative inline-block w-full text-[36px] px-0 md:px-5 mx-0 md:mx-2"
            style="font-family: bebas_neueregular;letter-spacing : 1.1px;"
            href={`/${language}/catalogo`}
            >{language === "es" ? espanol.productos : english.productos}</a
        >
    </li>
    <li class="flex md:h-8 items-center">
        <a
            class="text-center hover:text-[#444444] rounded-full relative inline-block w-full text-[36px] px-0 md:px-5 mx-0 md:mx-2"
            style="font-family: bebas_neueregular;letter-spacing : 1.1px;"
            href={`/${language}/catalogo/damas`}
            >{language === "es" ? espanol.damas : english.damas}</a
        >
    </li>
    <li class="flex md:h-8 items-center">
        <a
            class="text-center hover:text-[#444444] rounded-full relative inline-block w-full text-[36px] px-0 md:px-5 mx-0 md:mx-2"
            style="font-family: bebas_neueregular;letter-spacing : 1.1px;"
            href={`/${language}/catalogo/ninas`}
            >{language === "es" ? espanol.ninas : english.ninas}</a
        >
    </li>
</ul>
